@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#upper-nav{
  position: relative;
}
#navbar1-text{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  float: left;
  padding-left: 8vw;
}

#navbar-logo{
  position: absolute;
  top: -2vh;
  padding-left: 22vw;
}

#logo{
  height: auto;
  width: 15%;
}

#navbar-subscribe-button{
  position: absolute;
  right: 10vw;
  background-color: lightgreen;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  color: white;
}

#navbar-subscribe-button:hover{
  cursor: pointer;
}

#lower-nav{
  text-align: center;
  padding-top: 2vh;
}

#lower-nav span{
  padding-right: 1vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
}

#lower-nav span:hover{
  cursor: pointer;
  color: grey;
}

#latest-category{
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
}

#latest-heading{
  font-family: 'Poppins', sans-serif;
}

.author-and-time{
  color: grey;
  font-size: 0.7rem;
}

#bottom-subscribe-heading{
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
}

#bottom-subscribe-info{
  font-weight: 300;
  font-size: 1.2rem;
}

#subscribe-button{
  background-color: white;
  border-radius: 25px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 6vh;
  margin-bottom: 3vh;
}

#subscribe-button:hover{
  cursor: pointer;
}

.icon{
  height: 3vh;
  width: auto;
  padding-right: 5px;
}

#subscribe-button-text{
  position: relative;
  top: -4px;
  font-size: 1rem;
  font-weight: 500;
  
}

.bottom-links{
  margin-left: 2vw;
  font-size: 0.85rem;
}

.bottom-links:hover{
  cursor: pointer;
  color: grey;
}

#bottom-copyright{
  margin-top: 5vh;
}

.item-image{
  height: auto;
  width: 12vw;
  display: inline-block;
}

.item-title{
  font-family: 'Playfair Display', serif;
  font-size: 0.9rem;
  line-height: 0.8vh;
}


.author-and-time-card{
  font-size: 0.5rem;
  color: grey;
} 

#lower-nav a{
  color: black;
  text-decoration: none;

}
a{
  color:white;
}

/*-------------------------contact-page--------------------------------------------------*/

#contact-banner{
  height: auto;
  width: 50vw;
  margin: 0vh;
}
#contact-heading{
  font-family: 'Playfair Display', serif;
}
#contact a{
  color: black;
  
}

#contact{
  font-family: 'Playfair Display', serif;
  font-size: 1.4rem;

}

.card:hover{
  cursor: pointer;
}