@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#upper-nav {
  position: relative;
}
#navbar1-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  float: left;
  padding-left: 8vw;
  position: absolute;
  top: 6vh;
}


#logo {
  height: auto;
  width: 9%;
  display: inline-block;
  position: relative;
  top: -6vh;
}

#navbar-subscribe-button {
  position: absolute;
  top: 6vh;
  right: 10vw;
  background-color: lightgreen;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  color: white;
}

#navbar-subscribe-button:hover {
  cursor: pointer;
}

#lower-nav {
  text-align: center;
  padding-top: 2vh;
}

#lower-nav span {
  padding-right: 1vw;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
}

#lower-nav span:hover {
  cursor: pointer;
  color: grey;
}
@media only screen and (min-width: 600px) {
  #nav-menu {
    display: hidden;
  }
  #navbar2-text {
    display: none;
  }
  .short-screen-nav {
    display: none;
  }
  .small-screen-main-article{
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .lower-nav-big-screen {
    display: none;
  }
  #lower-nav {
    height: 15vh;
  }
  #navbar-subscribe-button {
    display: none;
  }
  #navbar1-text {
    display: none;
  }
  #navbar2-text {
    font-size: 0.54rem;
    font-weight: 800;
    position: absolute;
    top: 7vh;
  }

  #logo {
    position: absolute;
    top: 0vh;
    right: 0vw;
    /* left: 180%; */
    height: 30vw;
    width: auto;
    float: right;
  }

  .sign-up-button{
    display: none;
  }

  .big-screen-main-article{
    display: none;
  }

  .page-banner {
    width: auto;
    height: auto;
    max-width: 100vw;   
    max-height: 50vh;
    object-fit: cover;
  }
  
  
 
  
}

#latest-category {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
}

#latest-heading {
  font-family: "Poppins", sans-serif;
}

#poems-heading {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
}

.author-and-time {
  color: grey;
  font-size: 0.7rem;
}

#bottom-subscribe-heading {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
}

#bottom-subscribe-info {
  font-weight: 300;
  font-size: 1.2rem;
}

#subscribe-button {
  background-color: white;
  border-radius: 25px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 6vh;
  margin-bottom: 3vh;
}

#subscribe-button:hover {
  cursor: pointer;
}

.icon {
  height: 3vh;
  width: auto;
  padding-right: 5px;
}

#subscribe-button-text {
  position: relative;
  top: -4px;
  font-size: 1rem;
  font-weight: 500;
}

.bottom-links {
  font-size: 0.85rem;
}

.bottom-links:hover {
  cursor: pointer;
  color: grey;
}

#bottom-copyright {
  margin-top: 5vh;
  padding-bottom: 5vh;
}

.item-image {
  height: auto;
  width: 12vw;
  display: inline-block;
}

.item-title {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  line-height: 0.8vh;
}

.author-and-time-card {
  font-size: 0.7rem;
  color: grey;
}

#lower-nav a {
  color: black;
  text-decoration: none;
}
.bottom a {
  color: white;
}

.poems-menu {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 4vh;
}

.showmore-text {
  position: relative;
  top: -7px;
}

.showmore:hover {
  color: gray;
  cursor: pointer;
}

#article-main-title {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  font-weight: 600;
}
#article-main-body {
  font-family: "Playfair Display", serif;
  font-size: 0.8rem;
}

.article-main-author-and-time-card {
  font-size: 0.7rem;
  color: grey;
}

/*-------------------------contact-page--------------------------------------------------*/

#contact-banner {
  height: auto;
  width: 50vw;
  margin: 0vh;
}
#contact-heading {
  font-family: "Playfair Display", serif;
}
#contact a {
  color: black;
}

#contact {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
}

.card:hover {
  cursor: pointer;
}

/*------------------articles-page------------------*/

.page-banner {
  /* width: auto;
  min-width: 100%;
  height: 50vh; */
  width: auto;
  height: auto;
  min-width: 100%;
  max-width: 100vw;   
  max-height: 50vh;
  object-fit: cover;
}

.page-heading {
  font-size: 4rem;
  color: white;
  position: relative;
  top: -25vh;
}

.page-main-banner {
  width: auto;
  height: 40vh;
  object-fit: cover;
}

.page-main-banner-small {
  width: 60vw;
  height: auto;
  object-fit: cover;
}

.author-and-time-card-3 {
  font-size: 1rem;
  color: gray;
}

.playfair-heading {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
}

.playfair-heading-sm {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
}
.main-article-body{
  font-size: 1rem;
}

.author-and-time-card-sm {
  font-size: 0.6rem;
  color: grey;
}

.playfair-heading-lg {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
}

.page-bottom-menu {
  margin-top: 4vh;
}

.main-article:hover {
  cursor: pointer;
}

.black-color-a {
  color: black;
  text-decoration: none;
}

.articles-section-heading {
  font-size: 0.8rem;
  color: green;
  font-weight: 600;
}

.image-main-page {
  width: 60vw;
  height: auto;
}

.body-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.poem1-image {
  height: auto;
  width: 30vw;
}

.subscribe-input {
  width: 30vw;
  height: 5vh;
  border: 0px;
  border-bottom:2px solid black ;
  /* border-radius: 10px; */
  margin-right: 2vw;
}

.subscribe-button-modal {
  background-color: white;
  border-radius: 25px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 6vh;
  margin-bottom: 3vh;
  font-weight: 600;
}

.subscribe-button-modal:hover{
  cursor: pointer;
}

.subscribe-modal-heading{
  color: black;
  margin-bottom: 0 add .;
  font-family: "Playfair Display", serif;

}

.small-screen-email-input{
  border:0;
  border-bottom: 2px solid white;
  background-color: black;
  color: white;
}

.small-screen-subscribe{
  width: 30vw;
  background-color: white;
  border-radius: 10px;
  color: black;
  margin-left: 5vw;
}

#article2-eighth{
  width: 27vw;
  height: auto;
  display: inline-block;
}

#article2-ninth{
  width: 27vw;
  height: auto;
  display: inline-block;
}

#article2-tenth{
  width: 50vw;
  height: auto;
}

#article2-eleventh{
  width: 27vw;
  height: auto;
}

#article2-twelth{
  width: 27vw;
  height: auto;
}

#article2-thirteenth{
  width: 50vw;
  height: auto;
}

#article2-fourteenth{
  width: 50vw;
  height: auto;
}

